/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	color: #393939;
	background-color: #F9F9F9;
	background-image: url('../images/light_wool.png');
	margin: 0;
}

p {
	font-size: .95em;
	margin-bottom: 2em;
	font-weight: 300;
}

h2,
h3 {
	font-weight: 400;
	margin-bottom: 0;
}

h2 {
	font-size: 1.1em;
}

h3 {
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #393939;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.student-name {
	font-size: 1.5em;
  margin: 0; /* Remove default top and bottom margin and avoids collapsing margins */
	color: #003342;
}

.main-nav {
  margin-top: 0px;
  padding: 15px 10px;
}

.main-nav li {
	list-style-type: none;
	background-color: #fff;
	margin: 5px 0;
}

.main-nav a {
	font-size: .95em;
	font-weight: 700;
	color: #003342;
	display: block;
	text-transform: uppercase;
  padding: 10px 20px; /* Makes the clickable area of the nav items and site name bigger */
}

.main-nav a:hover {
	background: #003342;
	color: #F9F9F9;
}

a.active {
	background: #003342;
	color: #fff;
}

 .active:hover {
	color: #F9F9F9;
}


/* ---- Layout Containers ---- */

.main-header {
  padding-top: .5em;
  padding-bottom: .5em;
}

.main-header,
.intro,
.portfolio,
.contact {
	text-align: center;
}

.intro {
	margin-bottom: 40px;
}

.portfolio {
	background-color: #003342;
	padding: 50px 0;
}

.contact {
    padding-left: 12px;
    padding-right: 12px;
    margin: 50px 0;
}

.intro-text,
.intro-image,
.portfolio-item {
  padding-left: 1em; /* Creates gutters on either side of the column */
  padding-right: 1em;
}

.main-footer {
	padding: 1em 0 3em;
  border-top: 1px solid #D6D2D2;
  margin: 0 10px;
}

/* ---- Page Elements ---- */

.intro p,
.contact p {
	color: #827B7B;
	padding: 0 8px;
}

.profile-image {
	padding: 10px;
  border: #D2D2D2 2px solid;
	width: 75%;
}

.section-title {
	font-size: .9em;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin: 0 0 40px;
}

.portfolio img:hover {
	transform: scale(1.5);
}

.portfolio h2 {
	color: rgb(185, 169, 63);
}

.portfolio p {
	color: #fff;
}

.contact-dets {
	line-height: 2.5;
}

.contact-dets span {
	font-weight: 600;
	margin-left: 15px;
}

.contact-dets a {
	color: #827B7B;
}

.main-footer {
	color: #003342;
}

.footer-name, 
.top {
	font-size: .8em;
	font-weight: 700;
}
	
.footer-name {
	float: left;
}

.footer-nav {
	display: none;
}

.top {
	float: right;
	text-transform: uppercase;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

/*
	body {
		padding-top: 140px;
	}
	
 ---- Removed Sticky Header because it took up too much of the viewport ----	
	
	.main-header {
		position: fixed;
		width: 100%;
		z-index: 1000;
		background-color: rgba(249,249,249,.95);
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		top: 0;
		padding: 0;
		margin: 0;
	}
*/
	
	.main-header {
		margin-top: 2em;
    margin-bottom: 2em;
	}
	
	.main-nav {
		display: inline-block;
		margin: 0 auto;
  	padding: 10px;
	}

  .main-nav li {
    float: left; 
    margin-left: 15px;
		background-color: #F9F9F9;
  }
	
  .main-nav a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
	
	.intro-text {
		float: left; 
		width: 60%;
	}
	
	.intro-image {
		float: right;
		width: 40%;
	}
	
	.intro-text p {
		text-align: left;
		font-size: 1.2em;
		margin-top: 0;
		padding: 0 12px;
	}
	
	.profile-image {
		width: 100%;
	}
	
 	.portfolio-item {
  	float: left; 
  }
	
	.portfolio {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.portfolio-item {
    width: 50%;
		padding-left: 0.5em;
		padding-right: 0.5em;
  }
	
	.portfolio-item p {
		padding: 0px 38px;
	}
	
	.contact {
		width: 70%;
		margin: 20px auto;
		padding-top: 30px;
		padding-bottom: 10px;
	}
	
	.contact p {
		font-size: 1.2em;
	}
	
	.footer-nav {
		display: inline-block;
		float: right;
		margin: 10px 10px 0;
	}

  .footer-nav li {
    float: left; 
    margin-left: 30px;
		list-style-type: none;
  }
	
  .footer-nav a {
		font-size: .8em;
		font-weight: 700;
		text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
  }

	.footer-nav a:hover {
		color: #093a58;
	}
	
	.top {
		display: none;
	}

	
	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

	
@media (min-width: 1024px) {

	/* ---- Sticky Header ---- */
	
	.main-header {
		position: fixed;
		width: 100%;
		z-index: 1000;
		background-color: rgba(249,249,249,.95);
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		top: 0;
		padding: 0;
		margin: 0;
	}
  	body {
		padding-top: 80px;
	}
	
		/* ---- End Sticky Header ---- */
	
	.container,
	.intro,
	.portfolio,
	.main-footer {
    width: 95%;
    max-width: 1150px;
  }
	
	.intro {
		margin: 40px auto;
	}
	
	.container,
	.portfolio,
	.main-footer  {
		margin: 10px auto;
	}   
	
	.main-header {
		padding-bottom: .8em;
	}
 
	.student-name {
		float: left;
		padding: 0.6em;
	}
	
	.main-nav {
		float: right;
		padding: 0;
	}
	
	.intro-text,
	.intro-image,
	.portfolio-item {
  	padding-left: 0.6em; /* Creates gutters on either side of the column */
  	padding-right: 0.6em;
	}
	
	.intro-text {
		float: left; 
		width: 55%;
	}
	
	.intro-image {
		float: right;
		width: 45%;
	}
	
	.intro-text p {
		font-size: 1.3em;
	}
	
	.profile-image {
		width: 90%;
	}
	
	.section-title {
		font-size: 1.1em;
		margin: 30px 0 50px;
	}
	
  .portfolio-item {
    width: 33.333333333333%; /* Three column layout */
		margin-bottom: 30px;
  }
	
	.portfolio-item:nth-child(8n)  {
		clear: left; /* Ensures 3-column layout doesn't break on larger screens */
	}
	
	.portfolio-item p {
    padding: 0px 10px;
	}
	
	.contact {
		width: 65%;
		padding-top: 5px;
	}
	
	.contact p {
		font-size: 1.4em;
	}
	
	.contact-dets {
		line-height: 2;
	}
	
	.footer-name {
		font-size: .9em;
	}
	
	.footer-nav a {
		font-size: .9em;
	 }	
	
}
